<button mat-flat-button color="accent" routerLink="/displayresults">SaveReferenceResults</button>
<button mat-flat-button color="accent" (click)="StartBalayages();GetBalayagesProgression()">StartBalayages</button>
<button mat-flat-button color="accent" routerLink="/finalresults">GetFinalResults</button>
<div [hidden]="errMess || forcedone">
<div [hidden]="completed">
    <div *ngIf="BalayagesStarted">
        <h2 class="headers">Balayages Is Loading</h2>
        <mat-progress-bar value="{{progression}}">
        </mat-progress-bar>
    </div>
</div>
</div>
<div [hidden]="resultscompleted || errMess">
    <div *ngIf="completed">
    <h3 class="headers">Saving The Results In The DataBase</h3>
    <mat-spinner>
    </mat-spinner>
</div>
</div>
<h2 *ngIf="resultscompleted" class="headers">Operation Compeleted</h2>
<div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
</div>