<button mat-flat-button color="accent" routerLink="/displayresults">GetResults</button>
<button mat-flat-button color="accent" (click)="StartBalayages();GetBalayagesProgression()">StartBalayages</button>
<button mat-flat-button color="accent" routerLink="/finalresults">GetFinalReuslts</button>
<div [hidden]="completed">
    <div *ngIf="BalayagesStarted">
        <h2>Balayages Is Loading</h2>
        <mat-progress-bar value="{{BalayagesProgression}}">
        </mat-progress-bar>
    </div>
</div>
<div [hidden]="resultscompleted">
    <mat-spinner *ngIf="completed">
        Saving Results In DataBase
    </mat-spinner>
</div>